{% extends "blog/base.html" %}
{% block content %}
    <h1>About Page</h1>
    <hr>
    <p>Currently you cannot read publications without an account so pls create one. Also You need to be logged in for creating a post</p>
    <p>This is Sample website Being Created for All Sadlec Content</p>
    <p>All Monthly Magazine Articles Will be housed here</p>
    <p>All Publications with their indexs and cross refernecs will be found here</p>
    <p>Other Features like chatting with online users will be coming soon</p>
    <p>Users can create blog post now but also a type of forum will be coming soon</p>
    <p>Users will be able to save snips of articles and publication titles in their profile and share it</p>
    <p>login with social media profile such as facebbok and google coming soon</p>
    <p>Stay updated for Many other features </p>

{% endblock content %}