{% extends "blog/base.html" %}


{% block content %}




<div class="container">
    <br>
    <h3>Coming Soom</h3>
    <hr>
    
    <ul>
        {% for sub in plist %}
        <li> <a href="{% url 'titles' 01 'Difficulty in Having Done All That One Could' %}#idIndexMarker555">{{ sub }}</a></li>
        {% endfor %}
    </ul>
    

    <hr>
    <ul>
        
        <li> {{ pera.peratext|safe }} </li>
        
    </ul>
    



    
{% if data > 1 %}
    <a class="btn btn-outline-info  btn-sm mt-1 mb-1 float-left" href="#">Previous Title</a>
{% endif %}


</div>


{% endblock content %}