{% extends "blog/base.html" %}


{% block content %}

{% load custom_tags %}
{% comment %} {% load markdownify %}
{% load markdown_extras %} {% endcomment %}

<div class="container">
    <br>


    <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
           <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'books' bookname.id %}">{{ bookname }}</a></li> 
            <li class="breadcrumb-item"><a href="#">{{ chaptertitle }}</a></li> 
            <li class="breadcrumb-item"><a href="#">{{ subhead1 }}</a></li>     
            <li class="breadcrumb-item active" aria-current="page">{{ subhead2 }}</li>
        </ol>
    </nav> 

    
    
    <hr>
    <h3>{{subhead2}}</h3>
    <hr>
    
    
    <article>
        {% load custom_tags %}        
      
        {{ peragraphs | mdparser }}
      
    </article>

    
    <hr>


  

</div>



{% endblock content %}